# Node modules (backend)
/backend/node_modules/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Temporary folders (relative to root)
/uploads/

# Compiled CSS (frontend)
/frontend/style.css

# VS Code settings
.vscode/

# Dependency directories
yarn.lock
/backend/package-lock.json # If you keep lock file in backend

# Google credentials
oauth-client.json
service-account.json
tokens.json