# Node modules
node_modules/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Temporary folders
temp/
uploads/
public/uploads/
/public/style.css

# VS Code settings
.vscode/

# Dependency directories
yarn.lock

# Google credentials
oauth-client.json
service-account.json
tokens.json
