body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  padding: 2rem;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  /* height: 100vh; */
  border: 4px solid #530000;
}

h2 {
  margin-bottom: 1.5rem;
}

input[type="text"], input[type="password"] {
  padding: 0.6rem;
  width: 250px;
  font-size: 1rem;
  margin: 1rem auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

#drop-zone {
  border: 3px dashed #007bff;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem auto;
  width: 80%;
  max-width: 500px;
}

#drop-zone.dragover {
  background-color: #e0f0ff;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
  width: 90%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

a button, #downloadAllBtn {
  background-color: green;
}

a button:hover, #downloadAllBtn:hover {
  background-color: darkgreen;
}



<<<<<<< HEAD
=======
  /* Positioning and Rotation */
  position: absolute;
  z-index: 9999; /* Ensures the ribbon is on top of other content */
  top: 30px;      /* Adjust to move vertically */
  left: -45px;     /* Adjust to move horizontally */
  transform: rotate(-45deg); /* The magic that creates the diagonal angle */
} 


>>>>>>> e6ab8bca2e05275eef9daf413c2e18d00cb6aba9
.pp{
  height: 20px;
  width: 100%;
  background-color: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}
.pp a{
  text-decoration: none;
  color: rgb(73, 73, 73);
}